# Dependencies
node_modules

# Build outputs
.next
dist
build

# Markdown files
*.md

# Logs
*.log

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.local

# Other
coverage
*.min.js
